I/work/syscall/main.out
I/.~lock.nos1.odg#
I/work/demoProcess/main.out

I/work/module/*
!I/work/module/mymodule.c
!I/work/module/Makefile


II/boardData/*
II/datasheet/*
II/build/*
II/work/src/.vscode/*
II/work/shared/src/.vscode/*
